RewriteEngine on

# ensure https
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#ErrorDocument 404 https://creativeworkflows.ai/404
#ErrorDocument 500 https://creativeworkflows.ai/500

ErrorDocument 404 http://localhost/albert_warehouse_erp/404
ErrorDocument 500 http://localhost/albert_warehouse_erp/500

RewriteRule ^404$ 404.php
RewriteRule ^500$ 500.php
RewriteRule ^home$ index2.php
RewriteRule ^main$ index.php
RewriteRule ^signin$ signin.php
RewriteRule ^signout$ signout.php
RewriteRule ^forget-password$ forget_password.php
RewriteRule ^authentication$ authentication.php
RewriteRule ^test$ chromebook_diagnostic.php

php_value post_max_size 2048M
php_value upload_max_filesize 2048M
php_value max_input_time 6000
php_value memory_limit 2048M
php_value max_file_uploads 1000
php_value max_input_nesting_level 50000
php_value max_input_vars 50000
php_value max_execution_time 50000
 