.color-green {
	color: green !important;
}

.color-red {
	color: red !important;
}

.color-blue {
	color: blue !important;
}

.color-black {
	color: black !important;
}

.color-white {
	color: white !important;
}

.custom_checkbox {
	opacity: 1 !important;
	position: relative !important;
	width: 20px !important;
	height: 20px !important;
}

.text_align_center {
	text-align: center !important;
}

.text_align_left {
	text-align: left !important;
}

.text_align_right {
	text-align: right !important;
}

.font_20 {
	font-size: 20px !important;
}

.font_15 {
	font-size: 15px !important;
}

.check_all_label {
	padding: 20px !important;
	font-size: 20px !important;
}

.dashboard_button_bg {
	background-color: #c55a11 !important;
	border-radius: 60px !important;
}

.select2div {
	padding-left: 40px;
}

.select2div_main {
	padding-left: 13px;
	;
}

.custom_radio25 {
	width: 25%;
	float: left;
}

.custom_radio33 {
	width: 33%;
	float: left;
}

.custom_radio {
	width: 50%;
	float: left;
}

.custom_radio50 {
	width: 50%;
	float: left;
}

.excel_data_textarea {
	height: 400px !important;
}

.width_heading_table_custom_col {
	width: 200px !important;
}

.custom_btn_size {
	height: 30px !important;
	line-height: 28px !important;
	padding: 0 1rem !important;
}

.custom_padding_card_content_table_top {
	padding-top: 10px !important;
}

.custom_padding_card_content_table_top {
	padding-top: 10px !important;
}

.custom_margin_card_table_bottom {
	margin-bottom: 5px !important;
}

.custom_padding_card_content_table_top_bottom {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.custom_margin_card_table_top {
	margin-top: 0px !important;
}

.modal_95_perc {
	width: 96% !important;
	height: 100% !important;
	max-height: 92% !important;
	top: 30px !important;
}

.custom_font_size_table {
	font-size: 12px !important;
}

.custom_sytel_menu_link {
	font-size: 12px !important;
	color: #000 !important;
}

.display_none {
	display: none !important;
}